<P><B>Id:</B><%= @ad.id %></P>
<P><B>Name:</B><%= @ad.name %></P>
<P><B>Description:</B><%= @ad.description %></P>
<P><B>Price:</B><%= @ad.price %></P>
<P><B>Seller Id:</B><%= @ad.seller_id %></P>
<P><B>Email:</B><%= @ad.email %></P>
<P><IMG SRC="<%= @ad.img_url%>" ALT=""></P>
<A HREF="/ads/<%= @ad.id %>/edit">Edit</A>
