<H1>Listing client_workouts for <%= params[:search_string] %></H1>
<TABLE BORDER="1">
    <TR BGCOLOR="green">
        <TH>Id</TH>
        <TH>Trainer</TH>
        <TH>Duration mins</TH>
        <TH>Date of workout</TH>
        <TH>Paid amount</TH>
        <TH COLSPAN="3">Operations</TH>
    </TR>

    <% for client_workout in @client_workouts %>
        <TR>
            <TD><%= h client_workout.id %></TD>
            <TD><%= h client_workout.trainer %></TD>
            <TD><%= h client_workout.duration_mins %></TD>
            <TD><%= h client_workout.date_of_workout %></TD>
            <TD><%= h client_workout.paid_amount %></TD>
            <TD><%= link_to 'Show',client_workout %></TD>
            <TD><%= link_to 'Edit',edit_client_workout_path(client_workout) %></TD>
            <TD><%= link_to 'Destroy',client_workout, :confirm => 'Are you sure?', :method => :delete %></TD>
        </TR>
    <% end %>
</TABLE>
