<H1>Editing <%= @ad.name %></H1>
<% form_for(@ad,:url=>{:action=>'update'}) do |f| %>
    <P><B>Name:</B><%= f.text_field:name %></P>
    <P><B>Description:</B><%= f.text_area:description %></P>
    <P><B>Price</B><%= f.text_field:price %></P>
    <P><B>Seller</B><%= f.text_field:seller_id %></P>
    <P><B>Email</B><%= f.text_field:email %></P>
    <P><B>Img url</B><%= f.text_field:img_url %></P>
    <P><%= f.submit "update" %></P>
<% end %>
