<!DOCTYPE html>
<html>
	<head>
		<title>Hello</title>
		<%= stylesheet_link_tag    "hello", :media => "all" %>
		<%= javascript_include_tag "hello" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<p>
			(using hello layout)
		</p>

		<%= yield :list %>

		<%= yield :layout %>

	</body>
</html>
